html{
    font-size: 20px;
}
body {
  background: #222;
}

section {
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  float: left;
  margin: 1%;
  padding: 1.5rem;

}
img{
    max-width: 100%;
    height: auto;
}

@media (min-width: 360px) {
  body {
    background: green;
  }
  section{
      width: 48%;
  }
}

@media (min-width: 768px) {
  body {
    background: red;
  }
  section{
      width: 31.33%;
  }
}

@media (min-width: 1200px) {
  body {
    background: yellow;
  }
  section{
      width: 23%;
  }
}
